
body {
	background-color: rgba(2, 2, 66, 0.596);
	padding: 0;
	margin-left: 0;
	box-sizing: border-box;
}
.TOP{
    justify-content: center;
    align-content: center;
    padding-left: 1.2rem;
    padding-right: 1rem;
}
.MYlist{
    justify-content: center;
    text-align: center;
    padding-left: 1.2rem;
    padding-right: 1rem;
}
.H{
    font-family: besdong;
    color: cornsilk;
}
h1{
	font-family: Surin;
	text-align: center;
}
.vdo{
    text-align: center;
    justify-content: center;
  }
@media (max-width:600px) {
    .H{
       font-size: small;
    }
    h1{
        font-size: 15px;
    }

}
